.stock-container {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  padding: 10px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.small-change {
  font-size: 0.8 rem;
}

.large-change {
  font-size: 1.2rem;
}
